<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Quiz Battle</title>
        <link href="K:\Project's\MyQuiz\static\style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Quiz Battle</h1>
        </header>
        <main>
            <section class="create">
                <button
                    class="button button-create"
                    id="create-room-button"
                >
                    Создать комнату
                </button>
            </section>
            <section class="join">
                <input
                    type="text"
                    id="room-code-input"
                    name="room-code"
                    class="room-code-input"
                    placeholder="Введите код комнаты:"
                >
                <button
                    class="button button-join"
                    id="join-room-button"
                >
                    Подключиться
                </button>
            </section>
        </main>
    </body>
</html>
